# Remember this docker image is going to used for Ray workers / head

# Python
**/__pycache__/
*.pyc
*.pyo
.venv/

# Logs and outputs
logs/
logs-bak/
stdout.txt

# Saved models and replay buffers
*.pkl
*.keras
*.h5
*.step
models/
replay/

# Dev/local artifacts
*.gif
*.png
figures/
pics/
notes/
# validation_states/, you need validation_states to compute the evaluation metrics

# Git
.git/

# VS Code
.vscode/

# Docker
Dockerfile
docker_run.sh
.dockerignore